<div>
    
{{!-- new burger name --}}
 <h4>{{burger_name}}</h4>
  
{{!-- button Devour me --}}
<a class="waves-effect waves-light btn-small" data-id={{id}} data-newdevour={{devoured}}>Devour me</a>

</div>