<h1>Eat Da Burger!</h1>

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="bName" class="materialize-textarea">
          <label for="textarea1">Enter a burger you want to eat and click the "Submit" button.</label>
        </div>
      </div>

    <button id="submit" class="waves-effect waves-light btn">Submit</button>

    </form>
  </div>

<div class="row">
    <div class="col s12 m6">
      <div class="card-panel teal">
        <div class="card-content white-text">
          <span class="card-title">Burgers</span>
           {{#each burgers}}
                {{#unless devoured}}
                  {{> burgers/burger-block devour=false}}
                {{/unless}}
              {{/each}}
        </div>
        
      </div>
    </div>

   <div class="col s12 m6">
      <div class="card-panel teal">
        <div class="card-content white-text">
          <span class="card-title">Devoured Burgers</span>
         {{#each burgers}}
            {{#if devoured}}
           {{> burgers/burger-devoured devour=true}}
         {{/if}}
       {{/each}}
        </div>
        
      </div>
    </div>

</div>



